.or-review {
  box-sizing: border-box;
}

.or-review *,
.or-review *:before,
.or-review *:after {
  box-sizing: inherit;
}

.or-review {
  background-color: #ffffff;
}

.or-review-icon {
  margin-left: -4px;
}

.or-review-id {
  display: flex;
  align-items: center;
}
.or-review-name-wrapper {
  margin-left: 8px;
}

.or-review-datetime{  
  font-size: 14px;
  margin-bottom: -4px;
}

.or-base-button {
  background-color: #000c55;
  color: #ffffff;
  border-radius: 1rem;
  padding: 12px;
  border-style: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin: 16px 0px;
}

.or-base-button:focus,
.or-base-button:active {
  outline: none;
}

.or-base-button:hover {
  opacity: 0.88;
}

.or-base-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.or-locale-switch-wrapper {
  text-align: right;
}

.or-button-locale-switch {
  border: none;
  opacity: 0.8;
  font-size: 0.8em;
  margin: 0 0.25em;
  color: #000c55;
  background-color: transparent;
  padding: 0;
}

.or-button-locale-switch:focus {
  outline: none;
}

.or-button-locale-switch-active {
  text-decoration: underline;
}

.or-main-wrapper {
  background-color: transparent;
  color: #595959;
}

.or-subject-navbar {
  display: flex;
  margin: 2em 0;
  justify-content: center;
}

.or-subject-paginate-wrapper {
  text-align: center;
  margin-left: 1em;
}

.or-reviews-page-wrapper {
  margin: 2em 0;
}
.or-subject-paginate-button {
  margin: 0 8px;
  border: none;
  font-size: 16px;
  min-width: 2em;
  border-radius: 5px;
  padding: 6px 8px;
  font-weight: 300;
}

.or-subject-paginate-button--active, .or-subject-paginate-button:hover {
  background-color: #dedede;
}

.or-subject-paginate-button:focus {
  outline: none;
}


.or-review-global-status{
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1em;
  color: #ffffff;
  font-weight: bold;
  z-index: 32100;
  overflow: hidden;
}

.or-review-global-error{
  background-color: #e6492d;
}

.or-review-global-success{
  background-color: #2de63c;
}

