.or-review-tags {
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  margin-bottom: 16px;
}

.or-review-tag {
  display: block;
  border-radius: 4px;
  background-color: rgb(245, 245, 245);
  margin-left: 8px;
  padding: 4px 8px;
}

.or-review-tag:first-child {
  margin-left: 0px;
}
