.or-rating-stars {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg2IiBoZWlnaHQ9IjM3MiIgdmlld0JveD0iMCAwIDE4NiAzNzIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGgKICAgIGQ9Ik05MyAxLjYxODAyTDExMy40MDQgNjQuNDE1OUwxMTMuNTE3IDY0Ljc2MTRIMTEzLjg4SDE3OS45MDlMMTI2LjQ5IDEwMy41NzNMMTI2LjE5NiAxMDMuNzg2TDEyNi4zMDkgMTA0LjEzMkwxNDYuNzEzIDE2Ni45M0w5My4yOTM5IDEyOC4xMThMOTMgMTI3LjkwNUw5Mi43MDYxIDEyOC4xMThMMzkuMjg3IDE2Ni45M0w1OS42OTEzIDEwNC4xMzJMNTkuODAzNiAxMDMuNzg2TDU5LjUwOTcgMTAzLjU3M0w2LjA5MDU4IDY0Ljc2MTRINzIuMTIwMkg3Mi40ODM1TDcyLjU5NTcgNjQuNDE1OUw5MyAxLjYxODAyWiIKICAgIHN0cm9rZT0iIzAwMEU1NiIgLz4KICA8cGF0aAogICAgZD0iTTkzIDE4NkwxMTMuODggMjUwLjI2MUgxODEuNDQ4TDEyNi43ODQgMjg5Ljk3N0wxNDcuNjY0IDM1NC4yMzlMOTMgMzE0LjUyM0wzOC4zMzYgMzU0LjIzOUw1OS4yMTU4IDI4OS45NzdMNC41NTE3NCAyNTAuMjYxSDcyLjEyMDJMOTMgMTg2WiIKICAgIGZpbGw9IiMwMDBFNTYiIC8+Cjwvc3ZnPg==');
  background-size: 27px;
  font-size: 0;
  height: 26px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 135px;
  display: inline-block;
  vertical-align: middle;
}

.or-rating-stars-value {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg2IiBoZWlnaHQ9IjM3MiIgdmlld0JveD0iMCAwIDE4NiAzNzIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGgKICAgIGQ9Ik05MyAxLjYxODAyTDExMy40MDQgNjQuNDE1OUwxMTMuNTE3IDY0Ljc2MTRIMTEzLjg4SDE3OS45MDlMMTI2LjQ5IDEwMy41NzNMMTI2LjE5NiAxMDMuNzg2TDEyNi4zMDkgMTA0LjEzMkwxNDYuNzEzIDE2Ni45M0w5My4yOTM5IDEyOC4xMThMOTMgMTI3LjkwNUw5Mi43MDYxIDEyOC4xMThMMzkuMjg3IDE2Ni45M0w1OS42OTEzIDEwNC4xMzJMNTkuODAzNiAxMDMuNzg2TDU5LjUwOTcgMTAzLjU3M0w2LjA5MDU4IDY0Ljc2MTRINzIuMTIwMkg3Mi40ODM1TDcyLjU5NTcgNjQuNDE1OUw5MyAxLjYxODAyWiIKICAgIHN0cm9rZT0iIzAwMEU1NiIgLz4KICA8cGF0aAogICAgZD0iTTkzIDE4NkwxMTMuODggMjUwLjI2MUgxODEuNDQ4TDEyNi43ODQgMjg5Ljk3N0wxNDcuNjY0IDM1NC4yMzlMOTMgMzE0LjUyM0wzOC4zMzYgMzU0LjIzOUw1OS4yMTU4IDI4OS45NzdMNC41NTE3NCAyNTAuMjYxSDcyLjEyMDJMOTMgMTg2WiIKICAgIGZpbGw9IiMwMDBFNTYiIC8+Cjwvc3ZnPg==');
  background-size: 27px;
  background-position: 0 100%;
  float: left;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
}
